.animate-left {
    animation: animateLeft 1s ease-in-out;
}

.animate-right {
    animation: animateRight 1s ease-in-out;
}

.animate-top {
    animation: animateTop 1s ease-in-out;
}

@keyframes animateLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes animateRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes animateTop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}