#contact h1 {
    margin: 40px 0;
}

#contact #contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    margin-bottom: 15px;
}

#contact #contact-info div {
    text-align: center;
    border: 2px solid var(--primary);
    border-radius: 10px;
    width: 100%;
    padding: 10px 0;
    margin: 0 10px;
}

#contact #contact-info div i {
    font-size: 2.8rem;
    color: var(--primary);
}

#contact #contact-info div h2 {
    margin: 10px 0;
}

#contact #contact-info div p {
    margin: 0;
}