<nav class="py-1">
    <div class="container d-flex align-items-center justify-content-space-between">
        <ul>
            <li class="d-inline mx-1"><a href="/">Home</a></li>
            <li class="d-inline mx-1"><a href="/job-experience">Job Experience</a></li>
            <li class="d-inline mx-1"><a href="/education">Education</a></li>
            <li class="d-inline mx-1"><a href="/projects">Projects</a></li>
        </ul>

        <div id="theme-toggler-wrapper">
            <input class="d-none" type="checkbox" id="theme-toggler">
            
            <label for="theme-toggler" class="d-flex align-items-center justify-content-space-between position-relative">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <div id="theme-toggler-ball" class="position-absolute d-block"></div>
            </label>
        </div>
    </div>
</nav>