<%- include('./partials/head.ejs') %>

    <main class="container mt-3 mb-3 ml-auto mr-auto" id="projects">
        <section>
            <h1>Projects</h1>

            <div class="cards-wrapper">
                <div class="card">
                    <img class="card-img" src="/img/anjani.jpg" alt="anjani">
                    <h1 class="card-heading">Project</h1>

                    <div class="card-body">
                        <a href="#" target="_blank" class="btn-primary">Demo</a>
                        <a href="#" target="_blank" class="btn-github"><i class="fab fa-github"></i> Code</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%- include('./partials/footer.ejs') %>