@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --github-dark-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

html.dark .github-logo-dark {
    filter: var(--github-dark-filter);
}

body {
    @apply bg-neutral-100 dark:bg-gray-900 dark:text-white;
    z-index: -2;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    @apply max-w-7xl px-2 mx-auto sm:px-6 lg:px-8;
}

canvas {
    z-index: -1;
}

@media (prefers-color-scheme: dark) {
    .github-logo-dark {
        filter: var(--github-dark-filter);
    }
}