@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @apply bg-neutral-100 dark:bg-gray-900 dark:text-white;
}

.container {
    @apply max-w-7xl mx-1 px-2 sm:mx-auto sm:px-6 lg:px-8;
}

canvas {
    z-index: -10;
}