%btn {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    font-size: 1.2rem;
    @include transition(transform .3s);

    &:hover, &:focus { @include transform(scale(.97)); }
}

.btn-primary {
    @extend %btn;
    @include set-contrast($primary);
}

.btn-github {
    @extend %btn;
    @include set-contrast(purple);
    
    i { margin-right: 2px; }
}

.btn-lightend {
    @extend %btn;
    @include set-contrast(lighten($primary, 10%));
}