$primary: crimson;

// Functions
@function set-text-color($color) {
    @if(lightness($color) > 70) { @return black; }
    @return white;
}

@function set-bg-color($color) {
    @return $color;
}

// Mixins
@mixin set-contrast($color) {
    background-color: set-bg-color($color);
    color: set-text-color(($color));
}

@mixin transform($property...) {
    -webkit-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin transition($property) {
    -webkit-transition: $property;
    -o-transition: $property;
    transition: $property;
}

@mixin media-mobile() {
    @media(max-width: 768px) { @content; }
}