// Container
.container {
    max-width: 1100px;
    width: 80%;
    margin: auto;
}

// Display properties
$display-properties: (block, inline, inline-block, flex, grid, none);

@each $property in $display-properties { .d-#{property} { display: #{property}; } }

// Margin and Padding
$space-amounts: (1, 2, 3, 4, 5, auto);

@each $space in $space-amounts {
    // Margin
    .m-#{space} { margin: #{space}rem; }
    .mx-#{space} { margin: 0 #{space}rem; }
    .my-#{space} { margin: #{space}rem 0; }
    .mt-#{space} { margin-top: #{space}rem; }
    .mb-#{space} { margin-bottom: #{space}rem; }
    .ml-#{space} { margin-left: #{space}rem; }
    .mr-#{space} { margin-right: #{space}rem; }

    // Padding
    .p-#{space} { padding: #{space}rem; }
    .px-#{space} { padding: 0 #{space}rem; }
    .py-#{space} { padding: #{space}rem 0; }
    .pt-#{space} { padding-top: #{space}rem; }
    .pb-#{space} { padding-bottom: #{space}rem; }
    .pl-#{space} { padding-left: #{space}rem; }
    .pr-#{space} { padding-right: #{space}rem; }
}